In [1]:
#1) bank account creation through class

In [1]:
import logging as log

In [21]:
class bankaccount:
    
    def openaccount(self,account_no,name,balance):
        print("open an account by taking name,account_no and balance")
        return name
    
    def deposit(self,amount):
        print("i am trying to deposit",amount," in my account")
        return amount
    
    def withdraw(self,amt_with):
        print("withdraw",amt_with,"amount")
        return (amt_with)

In [22]:
sunita=bankaccount()

In [23]:
sunita.openaccount(123456789,sunita,1000)

open an account by taking name,account_no and balance

In [24]:
sunita.deposit(1000)

i am trying to deposit 1000  in my account

1000

In [25]:
sunita.withdraw(500)

withdraw 500 amount

500

In [15]:
#2) employee management class creation and calculate yearly bonus and display employee details

In [21]:
import logging as log

In [22]:
class employee:
    
    def __init__(self,ID, name,salary):
        self.name=name
        self.id=ID
        self.salary=salary
        
    def bonus(self,yearly_extra_time,*args):
        if yearly_extra_time>100:
            bonus=30000
            self.salary=self.salary+bonus
        print(" the employee has got a bonus")
        
    def print_employee_details(self):
        print("\nname",self.name)
        print("\nID",self.id)
        print("\nsalary",self.salary)

In [23]:
sunita=employee(12345, sunita, 40000)

In [24]:
sunita.bonus(120)

 the employee has got a bonus

In [25]:
sunita.print_employee_details()

name <__main__.bankaccount object at 0x7fb6082ca710>

ID 12345

salary 70000

In [26]:
#3) vehicle rental system using class

In [2]:
import logging as log

In [3]:
from enum import Enum

In [4]:
class car_type(Enum):
        swift=1
        toyota=2
        porshe=3
        thar=4
           
    
class fuel(Enum):
    diesel=1
    petrol=2

In [67]:
class car_rental:
    
    def __init__(self,car_type,fuel):
        self.car_type=car_type
        self.fuel=fuel
        
    def car_rent(self):   
        print("i want to rent this car")
    
    def car_return(self):
        print("i want to return this car")

In [68]:
sunita=car_rental(car_type,fuel)

In [69]:
sunita.car_type(2)

In [70]:
sunita.fuel(1)

In [71]:
sunita.car_rent()

i want to rent this car

In [72]:
sunita.car_return()

i want to return this car

In [73]:
#4) to create a library catalog function

In [141]:
import logging as log

In [176]:
class library:

    def __init__(self,books= None):
        if books is None:
            self.books=[] 
        else:   
            self.books=books
      
            
    def add_book(self,book):
        self.list=self.books.append(book)
        
                
    def get_library(self):
        return self.books     
    
    def display(self): 
        print("this is my whole library",self.category,self.title)
    
        
class catalog:
    
    def __init__(self,category, title):
        self.category = category
        self.title = title

In [177]:
sunita=library()

In [178]:
book='introduction to polity','shankar ias','sriram ias'

In [179]:
sunita.add_book(book)

In [180]:
sunita.category= '\nbiology\n'   '\nmaths\n'   '\nselfhelp\n'   '\ngeography\n'

In [181]:
sunita.title='\nintroduction to human biology\n'   '\nintermediate maths\n'   '\nthe alchemist\n'   '\nGC Leong\n'

In [182]:
sunita.display()

this is my whole library
biology

maths

selfhelp

geography

introduction to human biology

intermediate maths

the alchemist

GC Leong

In [183]:
#5) to create a product inventory class

In [189]:
import logging as log

In [204]:
class Inventory:
    def __init__(self):
        self.inventory = {}
        
    def add_item(self, item_name, price):
        self.inventory[item_name]= {"item_name": item_name,"price": price}

    def update_item(self, item_name, price):
        if item_name in self.inventory:
            self.inventory[item_name]["price"] = price
        else:
            print("Item not found in inventory.")

    def display_item(self, item_name):
        if item_name in self.inventory:
            item = self.inventory[item_name]
            return f"Product Name {item['item_name']},Price: {item['price']}"
        else:
            return "Item not found in inventory."

In [205]:
sunita= Inventory()

In [206]:
sunita.add_item("biscuit", 50)

In [206]:
sunita.add_item("face cream", 450)

In [206]:
sunita.add_item("soap", 500.00)

In [206]:
sunita.add_item("snacks", 550)

In [207]:
print("Item Details:")

In [207]:
print(sunita.display_item("biscuit"))
print(sunita.display_item("face cream"))
print(sunita.display_item("soap"))
print(sunita.display_item("snacks"))

Item Details:
Product Name biscuit,Price: 50
Product Name face cream,Price: 450
Product Name soap,Price: 500.0
Product Name snacks,Price: 550

In [208]:
print("\nUpdate the price of item code - face cream:")

In [208]:
sunita.update_item("face cream", 550.00)

In [208]:
print(sunita.display_item("face cream"))

Update the price of item code - face cream:
Product Name face cream,Price: 550.0

In [209]:
#6) to create a class with attributes of length,width and heigth, calculate the area and perimeter of shape.

In [211]:
class Rectangle():
    def __init__(self, length, width):
        self.length = length
        self.width  = width

    def rectangle_area(self):
        return self.length*self.width
    
    def rectangle_perimeter(self):
        return 2*(self.length+self.width)

In [212]:
sunita = Rectangle(15, 9)
print(sunita.rectangle_area())

135

In [213]:
print(sunita.rectangle_perimeter())

48

In [214]:
#7) student management class with attributes like id, name, grades. calculate the average grades and display student details

In [283]:
class student():
    
    def __init__(self,ID, name, grades):
        self.ID=ID
        self.name=name
        self.grades=grades
        
    def student_grade(num): 
        if(num > 90):
            return 'A+'
        elif(num >=80 and num <= 90):
            return 'A'
        elif(num >= 70 and num <= 80):
            return 'B'
        elif(num >= 60 and num <= 70):
            return 'C'
        elif(num >= 50 and num <= 40):
            return 'D'
        elif(num >= 40 and num <= 30):
            return 'E'
        elif(num <= 30):
            return 'F'

In [284]:
sunita=student

In [285]:
sunita.id= '1''2''3'

In [286]:
sunita.name='shikha''sunita''rahul'

In [287]:
sunita.student_grade(76)

'B'